<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		Dear <%= @user_name %>
		<br>
		<br>

		Your society maintenance bill payment detail got validated and confirmed by your society admin team.

		Please click on below link to view payment confirmation status.
		<br>
		<br>
		My society -> My Bill
		<br>
		<br>
		In case of any feedback or issues please feel free to write to us @ feedback@globalcityflatowners.org
		<br>
		<br>
		Together we shall build better GC ecosystem for our future...
		<br>
		<br>
		Thank you on behalf of all.

		With love
		GCLife Admin Team
	</body>
</html>
