<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

		Dear <%= @user_name %>
		<br>
		<br>

		Your society maintenance bill payment details was not found on our bank statement, hence bill status is
		updated as “Not paid”.Please recheck and update the correct detail to verify with our bank statement.
		<br>
		<br>
		Please click on below link to view payment not paid status.
		<br>
		<br>
		My society -> My Bill
		<br>
		<br>
		Tips: Please check the narration for the society admin comments.
		<br>
		<br>
		In case of any feedback or issues please feel free to write to us @ feedback@globalcityflatowners.org
		<br>
		<br>
		Together we shall build better GC ecosystem for our future...
		<br>
		<br>
		Thank you on behalf of all.

		With love
		GCLife Admin Team
	</body>
</html>
