<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		Dear <%= @user_name.capitalize %>
		<br>
		<br>

		Your society maintenance bill amount is successfully uploaded in GCLife App.Please click on below link

		to view your bill amount.
		<br>
		<br>

		My Society -> My Bill
		<br>
		<br>

		<b> <span style="text-decoration: underline">Important: Don’t forgot to update the payment detail after making your bill payment.</b>
		<br>
		<br>
		In case of any feedback or issues please feel free to write to us @ feedback@globalcityflatowners.org
		<br>
		<br>
		Together we shall build better GC ecosystem for our future...
		<br>
		<br>
		Thank you on behalf of all.
		<br>
		<br>
		With love
		<br>

		GCLife Admin Team
	</body>
</html>
