<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		Dear <%= @username.capitalize %>
		<br>
		<br>

		Thank you for registering with GC Life.
		<br>
		<br>

		Please find the registration OTP to activate your GC Life membership.
		<br>
		<br>

		OTP : <%= @otp %>
		<br>
		<br>
		Sign in email id:  <%= @to %>
		<br>
		<p>
			Once you enter and submit the OTP password, your membership details will be verified and approved by

			society admin team (i.e. secretary, chairman or any other delegate appointed by your society).
			<br>

			In case of any approval problem or delay, please contact your society admin team or write to us at
			<br>
			feedback@globalcityflatowners.org
		</p>
		<br>
		<p>
			Thank you
		</p>
		<br>
		Regards
		<br>
		GC Life Admin Team
		<br>
	</body>
</html>
